.rc-pagination-item-active {

    border-color: #000000;
    a{
      color: #000000;
    }
    
  }

  .rc-pagination-item-active:focus {
    border-color: #000000;
   a{
    color: #000000;
   }

  }
  .rc-pagination-item-active a {
    color: #000000;
  }

  .rc-pagination-item-active:hover {

    border-color: #000000;
    a{
      color: #000000;
    }
    
  }

  .rc-pagination-item:hover {
    color: #000000;

    border-color: #000000;
    a{
      color: #000000;
    }
    
  }

  .rc-pagination-prev {
    line-height: 0;

  }
  .rc-pagination-next {
    line-height: 0;

  }

  